# 모델 다운로드 관련
HUGGING_FACE_API_KEY=your-api-key

# DB 관련
QDRANT_API_KEY=your-api-key
QDRANT_URL=your-qdrant-url
MONGO_URL=your-mongodb-url

# 동시성 제어 관련
MAX_CONCURRENT_REQUESTS=5
REQUEST_TIMEOUT=300

# S3 관련
TEAM_FOLDER_NAME=your-team-folder-name
BUCKET_NAME=your-bucket-name
AWS_ACCESS_KEY=your-aws-access-key
AWS_SECRET_KEY=your-aws-secret-key