# FastAPI 환경 설정
fastapi>=0.119.0
sentence-transformers>=5.1.2
langchain>=1.0.3
langchain-community>=0.4.1
langchain-core>=1.0.2
langchain-huggingface>=1.0.0
langchain-mongodb>=0.7.1
langchain-qdrant>=1.1.0
wandb>=0.22.3
accelerate>=1.11.0
peft>=0.17.1
trl>=0.24.0