# ===============================
# 기본 무시 대상
# ===============================
.git
.gitignore
README.md
LICENSE
.DS_Store

# ===============================
# Gradle 관련
# ===============================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
out/
bin/
*.log

# ===============================
# IDE 관련
# ===============================
.idea/
.vscode/

# ===============================
# OS/편집기 캐시
# ===============================
Thumbs.db
*.swp
*.bak
*.tmp

# ===============================
# 환경파일
# ===============================
.env
.env.*
docker-compose.yml

# ===============================
# 테스트, 문서, 기타 불필요 파일
# ===============================
src/test/
docs/
*.md
